.logo-container
  %i.icon-picture.icon-4x
  %h1 Gallery

.form-container
  %form{name: 'login'}
    .form-panel
      %label{for: 'email'} Email
      %input#email{name: 'email', type: 'text'}

    .form-panel
      %label{for: 'password'} Password
      %input#password{name: 'password', type: 'password'}
      %button.btn.btn-success Sign In
